apiVersion: apps/v1
kind: Deployment
metadata:
  name: jairh3110
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jairh3110
  template:
    metadata:
      labels:
        app: jairh3110
    spec:
      containers:
      - image: okteto.dev/jairh3110:latest
        name: jairh3110
        envFrom:
        - configMapRef:
            name: jairh3110-config
        livenessProbe:
          httpGet:
            path: /ht/
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 15


apiVersion: v1
kind: Service
metadata:
  name: jairh3110
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec:
  type: ClusterIP  
  ports:
  - name: "jairh3110"
    port: 8080
  selector:
    app: jairh3110
